body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#f24013 1.4000000000000001px, transparent 1.4000000000000001px), radial-gradient(#f24013 1.4000000000000001px, #e5e5f7 1.4000000000000001px);
    background-size: 56px 56px;
    background-position: 0 0, 28px 28px;
}

h1 {
    font-weight: 200;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-size: 22px;
    background-color: firebrick;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #f18b14;
}

.puzzlePiece {
    display: none;
    cursor: pointer;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.activeSlide {
    opacity: 1;
    z-index: 2;
}

.quiz {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    grid-template-areas:
        "."
        "."
        ".";
}


.quizNavigation {
    margin-top: 100px;

}

.splash {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 300ms;
    z-index: 9999;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: linear-gradient(30deg, #f24013 12%, transparent 12.5%, transparent 87%, #f24013 87.5%, #f24013), linear-gradient(150deg, #f24013 12%, transparent 12.5%, transparent 87%, #f24013 87.5%, #f24013), linear-gradient(30deg, #f24013 12%, transparent 12.5%, transparent 87%, #f24013 87.5%, #f24013), linear-gradient(150deg, #f24013 12%, transparent 12.5%, transparent 87%, #f24013 87.5%, #f24013), linear-gradient(60deg, #f2401377 25%, transparent 25.5%, transparent 75%, #f2401377 75%, #f2401377), linear-gradient(60deg, #f2401377 25%, transparent 25.5%, transparent 75%, #f2401377 75%, #f2401377);
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

.hidden {
    transition: 0.5s;
    display: none;
}

.splashHeader {
    height: 90%;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}